/* Collumns */
.cols-2 {
    width: 100%;
    display: block;
}

.cols-2 > * {
    display: inline-block;
    max-width: 50%;
}

.cols-2 > .cols-span-2 {
    width: 80%;
}

.cols-2 > .cols-span-1 {
    width: 20%;
}
