
:root {

    /* COLORS */

    /* Gray */
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;

    /* Rose */
    --rose-50: #FFF1F4;
    --rose-100: #FFE4EA;
    --rose-200: #FECDD8;
    --rose-300: #FDA4B8;
    --rose-400: #FB718F;
    --rose-500: #F43F67;
    --rose-600: #E11D48;
    --rose-700: #BE1238;
    --rose-800: #9F1231;
    --rose-900: #88132D;
    --rose-950: #4C0515;
}