@import './constants.css';

header {
    background-color: var(--gray-900);
    background: url(../assets/imgs/header-background.jpg) no-repeat !important;
    background-color: var(--gray-900);
    background: url(../assets/imgs/header-background.jpg) no-repeat !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    color: var(--gray-300);

    padding: 50px;
    border-radius: 10px;

    /* To force background img when printing */
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;

    margin: 1rem;
}

header > div {
    margin-left: auto;
    margin-right: auto;
}

header .info {
    margin-top: 30px;
    margin-bottom: 30px;
}

header .info img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    margin: auto;
}

