@import './constants.css';

header {
    background: url(../imgs/header-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    color: var(--gray-300);
}