@import url('/styles/constants.css');

main {
    margin-top: 50px;
    margin-bottom: 50px
}

main section {
    margin-bottom: 30px;
}
main section .section-header {
    margin-bottom: 10px;
}

main section .section-header img.icon {
    display: inline-block;
}

main section .section-header h2 {
    display: inline-block;
    width: fit-content;
    margin: 0;
    color: var(--rose-600);
}

.education-list .course-name {
    font-weight: bold;
}

.education-list .date, .institution-name {
    margin: 0;
    color: var(--gray-700);
}