@import url('/styles/constants.css');

main {
    margin-top: 50px;
    margin-bottom: 50px
}

main section {
    margin-bottom: 30px;
}
main section .section-header {
    margin-bottom: 10px;
}

main section .section-header img.icon {
    display: inline-block;
}

main section .section-header h2 {
    display: inline-block;
    width: fit-content;
    margin: 0;
    color: var(--rose-600);
}

.education-list li, .skill-list li {
    padding-left:1rem;
}

.education-list div.cols-2, .skill-list div.cols-2 {
    display: inline-block;
    vertical-align: middle;
}

.education-list .course-name, .skill-list .skill-name {
    font-weight: bold;
}

.education-list .date, .institution-name {
    margin: 0;
    color: var(--gray-700);
}

.education-list .date, .skill-list .skill-level {
    text-align: right;
}

.education-list .institution-name {
    font-style: italic;
}

.education-list .institution-name::before {
    content: " - ";
}

.skill-list .skill-description::before {
    content: ": ";
}

.experience {
    margin-bottom: 40px;
}

.experience .experience-title {
    font-weight: bold;
    color: var(--rose-900);
    margin-bottom: 0;
}

a:hover {
    color: var(--rose-600);
}

.book-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.book-list li {
    margin-bottom: 10px;
}

.book-list a {
    font-weight: normal;
}

.book-list .book-title {
    font-weight: bold;
}

.book-list .book-author {
    font-style: italic;
}

.book-list .book-author::before {
    content: " - ";
}